	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{url_for('static',filename='img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Animal Shelter</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{{url_for('static',filename='css/linearicons.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}">							
			<link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.css')}}">
			<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
		</head>
		<body>
			  <header id="header" id="home">
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				       <!--  <a href="index.html"><img src="{{url_for('static',filename='img/logo.png')}}" alt="" title="" /></a> -->
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="/">Home</a></li>
				          <li><a href="/about">About </a></li>
<!-- 				          <li><a href="cats.html">Cats</a></li>
				          <li><a href="dogs.html">Dogs</a></li> -->
				          <li><a href="/donar">Donar</a></li>
<!-- 				          <li class="menu-has-children"><a href="">Blog</a>
				            <ul>
				              <li><a href="blog-home.html">Blog Home</a></li>
				              <li><a href="blog-single.html">Blog Single</a></li>
				            </ul>
				          </li>				 -->		          
				          <li><a href="/contact">Contact</a></li>
<!-- 				          <li class="menu-has-children"><a href="">Dropdown</a>
				            <ul>
				              <li><a href="elements.html">Elements</a></li>	
				              <li><a href="#">Item</a></li>
				              <li class="menu-has-children"><a href="">Level 2</a>
					            <ul>
					              <li><a href="#">Item 1</a></li>
					              <li><a href="#">Item 2</a></li>
					            </ul>
					          </li>	
				            </ul>
				          </li>	 -->			              
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="container">
					<div class="overlay overlay-bg"></div>
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-8 col-md-12">
							<h1 class="text-uppercase">
								ENDANGERED ANIMALS<br>
								We need your help.		
							</h1>
							<p class="text-white sub-head">
								The future of endangered species is in our hands
							</p>
							<a href="/donar" class="primary-btn header-btn text-uppercase">Find an animal to donate to</a>
						</div>											
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start image-carusel Area -->
			<section class="image-carusel-area">
				<div class="container">
					<div class="row">
						<div class="active-image-carusel">
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c1.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c2.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c3.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c4.jpg')}}" alt="">
							</div>	
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c5.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c6.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c7.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c8.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c9.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c10.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c11.jpg')}}" alt="">
							</div>
							<div class="single-image-carusel">
								<img class="img-fluid" src="{{url_for('static',filename='img/c12.jpg')}}" alt="">
							</div>															
						</div>
					</div>
				</div>	
			</section>
			<!-- End image-carusel Area -->
			

			<!-- Start callto-top Area -->
<!-- 			<section class="callto-top-area section-gap">
				<div class="container">
					<div class="row justify-content-between callto-top-wrap pt-40 pb-40">
						<div class="col-lg-8 callto-top-left">
							<h1>Please select your favourite pet</h1>
						</div>
						<div class="col-lg-4 callto-top-right">
							<a href="#" class="primary-btn">Fill Adoption Form</a>
						</div>							
					</div>
				</div>	
			</section> -->
			<!-- End callto-top Area -->
			

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center">	
						<div class="col-lg-6 home-about-left no-padding">
							<img src="{{url_for('static',filename='img/about-img.jpg')}}" alt="">
						</div>
						<div class="col-lg-6 home-about-right no-padding">
							<h1>
							
								We share our planet with millions of species of plants and animals 
							</h1>
						<!-- 	<h5>We are here to listen from you deliver exellence</h5> -->
							<p>
								- a wondrous variety of wildlife that enriches our lives in so many ways.
								This complex web of life provides the natural systems we depend on – giving us essentials like water, clean air, fertile soils and a stable climate. It gives us food, medicines and materials, and supports millions of jobs. It also inspires people around the world – making our lives richer in all sorts of ways. 

								But our planet’s wildlife is in crisis – numbers have fallen by more than half since 1970, and species are going extinct at an alarming rate.

								We need to reverse this loss of nature and create a future where wildlife and people thrive again.

							</p>
<!-- 							<a href="#" class="primary-btn text-uppercase">get details</a> -->
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			

			<!-- Start video Area -->
			<section class="video-area section-gap">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8">
							<div class="about-video-right justify-content-center align-items-center d-flex relative">
								<div class="overlay overlay-bg"></div>
								<a class="play-btn" href="https://www.youtube.com/watch?v=hThzeRIiiJU"><img class="img-fluid mx-auto" src="{{url_for('static',filename='img/play-btn.png')}}" alt=""></a>
							</div>
							<div class="description">
								<h4>Watch this video how they live here</h4>
<!-- 								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
								</p>	 -->							
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End video Area -->
			

			<!-- Start process Area -->
<!-- 			<section class="process-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Process to adopt a pet</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="single-process">
								<span class="lnr lnr-thumbs-up"></span>
								<a href="#">
									<h4>
										Pet Selection
									</h4>
								</a>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-process">
								<span class="lnr lnr-user"></span>
								<a href="#">
									<h4>
										Meeting Authority
									</h4>
								</a>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-process">
								<span class="lnr lnr-license"></span>
								<a href="#">
									<h4>
										Adoption Form Filling
									</h4>
								</a>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="single-process">
								<span class="lnr lnr-magic-wand"></span>
								<a href="#">
									<h4>
										Bring to new family
									</h4>
								</a>
								<p>
									inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct.
								</p>
							</div>
						</div>																		
					</div>
				</div>	
			</section> -->
			<!-- End process Area -->
			

			<!-- Start testomial Area -->
			<section class="testomial-area section-gap" id="testimonail">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">stories about saving endangered animals</h1>
<!-- 								<p>Who are in extremely love with eco friendly system.</p> -->
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="active-testimonial-carusel">
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t1.png')}}" alt="">
								<p class="desc">
									A team of scientists found five species — three endangered — moving, resting and grooming among the branches of cacao and their shade trees on 61 farms in northwest Madagascar. The scientists also made the first documented observations of lemurs living in vanilla plantations and found five species on farms grown close to areas of natural forest and amid natural vegetation.
									The scientists found no evidence that the lemurs were harming the farms — in fact, the lemurs may actually help out the farmers by eating insects seen as pests on the farms and also by dispersing seeds from shade trees. Most important: None of the lemurs was observed feeding on cacao pods or beans.
								</p>
<!-- 								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p> -->
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t2.png')}}" alt="">
								<p class="desc">
									In August, the government of Ecuador  prosecuted a Chinese ship’s crew for illegally transporting endangered species, including more than 6,000 sharks. The case made headlines worldwide and was one of the largest busts to date of illegal fishing in the Galápagos Marine Reserve.
									Luis Suarez, vice president of Conservation International Ecuador, told Human Nature in January that before the case was tried, people were shocked by how many species were on board the ship. Authorities found at least one whale shark, several juvenile sharks and numerous other species, many of them endangered.
									“This case shows that the government had the political will to act against fishing and illegal transportation of endangered species,” Suarez said. “I hope this will send a strong message to the fishing sector that Ecuador’s taking serious actions against illegal fishing.”
								</p>
<!-- 								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p> -->
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t3.png')}}" alt="">
								<p class="desc">
									Javan gibbons are dropping in numbers because their sole home, the forests on the Indonesian island of Java are disappearing. Gibbons are also highly sought as pets, and trappers capture the animals — usually when they are still babies — to be sold illegally at markets across Indonesia.
									“A Javan gibbon that has been captured and kept as a pet loses its instinct to survive [in the wild],” Pristiani Nurantika, a Javan gibbon researcher and veterinarian, said to Human Nature in October. “So we’re trying to restore that instinct — otherwise, they’ll die if we release them in their current state.”
									The Javan Gibbon Foundation (Yayasan Owa Jawa, in Indonesian) and Mount Gede Pangrango National Park operate the Javan Gibbon Rescue and Rehabilitation Program. The partnership, supported by Conservation International, the University of Indonesia and the Silvery Gibbon Project, rescues pet or seized Javan gibbons to be rehabilitated and released into their natural habitat.


								</p>
<!-- 								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p> -->
							</div>	
							<!-- <div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t1.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t2.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t3.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>															
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t1.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t2.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>
							<div class="single-testimonial item">
								<img class="mx-auto" src="{{url_for('static',filename='img/t3.png')}}" alt="">
								<p class="desc">
									Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
								</p>
								<h4>Mark Alviro Wiens</h4>
								<p>
									CEO at Google
								</p>
							</div>										 -->				
						</div>
					</div>
				</div>	
			</section>
			<!-- End testomial Area -->						

			<!-- Start calltoaction Area -->
			<section class="calltoaction-area section-gap relative">
				<div class="container">
					<div class="overlay overlay-bg"></div>						
					<div class="row align-items-center justify-content-center">
						<h1 class="text-white">Want to help? Become a Donar</h1>
<!-- 						<p class="text-white">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
						</p> -->
						<div class="buttons d-flex flex-row">
							<a href="/about" class="primary-btn text-uppercase">View more details</a>
							<a href="/donar" class="primary-btn text-uppercase">Donate now</a>
						</div>
					</div>
				</div>	
			</section>
			<!-- End calltoaction Area -->
			
			<!-- start footer Area -->		
			<footer class="footer-area">
<!-- 				<div class="container">
					<div class="row pt-120 pb-80">
						<div class="col-lg-4 col-md-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Few would argue that, despite the advanc ements off eminism over the past three decades, women still face a double standard when it comes to their behavior. While men’s borderline-inappropriate behavior. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-footer-widget">
								<h6>Useful Links</h6>
								<div class="row">
									<ul class="col footer-nav">
										<li><a href="#">Home</a></li>
										<li><a href="#">Service</a></li>
										<li><a href="#">About</a></li>
										<li><a href="#">Case Study</a></li>
									</ul>
									<ul class="col footer-nav">
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Blog</a></li>
									</ul>									
								</div>
							</div>
						</div>						
						<div class="col-lg-4  col-md-6">
							<div class="single-footer-widget mail-chimp">
								<h6 class="mb-20">Contact Us</h6>
								<ul class="list-contact">
									<li class="flex-row d-flex">
										<div class="icon">
											<span class="lnr lnr-home"></span>
										</div>
										<div class="detail">
											<h4>Binghamton, New York</h4>
											<p>
												4343 Hinkle Deegan Lake Road
											</p>
										</div>	
									</li>
									<li class="flex-row d-flex">
										<div class="icon">
											<span class="lnr lnr-phone-handset"></span>
										</div>
										<div class="detail">
											<h4>00 (953) 9865 562</h4>
											<p>
												Mon to Fri 9am to 6 pm
											</p>
										</div>	
									</li>
									<li class="flex-row d-flex">
										<div class="icon">
											<span class="lnr lnr-envelope"></span>
										</div>
										<div class="detail">
											<h4>support@colorlib.com</h4>
											<p>
												Send us your query anytime!
											</p>
										</div>	
									</li>																		
								</ul>
							</div>
						</div>						
					</div>
				</div>
				<div class="copyright-text">
					<div class="container">
						<div class="row footer-bottom d-flex justify-content-between">
							<p class="col-lg-8 col-sm-6 footer-text m-0 text-white">Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<!-- Copyright &copy;<script>document.write(new Date().getFullYear()); --><!-- </script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --><!-- </p>
							<div class="col-lg-4 col-sm-6 footer-social">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-dribbble"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
							</div>
						</div>						
					</div>
				</div>
			</footer> -->
			<!-- End footer Area -->	

			<script src="{{url_for('static',filename='js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{{url_for('static',filename='js/vendor/bootstrap.min.js')}}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{{url_for('static',filename='js/easing.min.js')}}"></script>			
			<script src="{{url_for('static',filename='js/hoverIntent.js')}}"></script>
			<script src="{{url_for('static',filename='js/superfish.min.js')}}"></script>	
			<script src="{{url_for('static',filename='js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>	
			<script src="{{url_for('static',filename='js/owl.carousel.min.js')}}"></script>						
			<script src="{{url_for('static',filename='js/jquery.nice-select.min.js')}}"></script>							
			<script src="{{url_for('static',filename='js/mail-script.js')}}"></script>	
			<script src="{{url_for('static',filename='js/main.js')}}"></script>	
		</body>
	</html>